.about{
    padding: 5vh 1vh 1vh 1vh;
    min-height: 81vh;
    font: italic small-caps bold 16px/2 cursive;
    box-shadow: 2px 5px 5px grey;
    border-radius: 10px;
    margin-bottom: 2vh;
}
.aboutHead{
    background-color: white;
    border: solid black 1px ;
    color: gray;
    border-radius: 10px;
    padding: 1vw;
}