.about{
    padding: 5vh 1vh 1vh 1vh;
    min-height: 83vh;
    font: italic small-caps bold 16px/2 cursive;
}
.aboutHead{
    background-color: white;
    border: solid black 1px ;
    color: gray;
    border-radius: 10px;
    padding: 1vw;
}