.about{
    margin: 3vh 1.5vh 3vh 1.5vh;
    /* min-height: 81vh; */
    font: italic small-caps bold 16px/2 cursive;
    /* box-shadow: 2px 5px 5px grey; */
    border-radius: 10px;
    background-color: rgba(49, 210, 210, 0.088);
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2vh; */
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: last-line;
}
.aboutHead{
    border: solid black 5px ;
    color: black;
    border-radius: 20px;
    margin: 2vw;
    padding: 2vw;
    overflow-y: scroll;
    height: 69vh;
    background-color: #F1FDCD;
    text-align: justify;
    /* box-shadow: 2px 5px 5px grey; */
}
.aboutHead h2{
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('../components/bg.jpg');
    color: transparent;
}
.aboutHead::-webkit-scrollbar {
    width: 5px;
}


.aboutHead::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
}