.navbar {
    display: flex;
    position: fixed;
    top:0vh;
    height: 7vh;
    align-items: center;
    background: linear-gradient(to top right, #1A1A1A 0%, #242424 100%);
    font: italic small-caps bold 16px/2 cursive;
    width: 81vw;
    border-radius: 10px;
    padding-left: 1vw;
    box-shadow: 2px 5px 5px grey;
}

img {
    height: 7vh;
    margin-right: 1vw;
}

.nav {
    margin-left: 2vw;
    color: beige;
    font-weight: 500;
    align-items: flex-end;
}
.login{
    right: 2vw;
    position: absolute;
}
.a{
    color: beige;
    text-decoration: none ;
}

.a:hover {
    color: #FFCC66;
    cursor: pointer;
}