.form {
    /* padding-top:10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width:80vw;
    min-height: 85vh;
    padding-top: 10vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    background-color: beige;
    
    color: black;
    font: italic small-caps bold 16px/2 cursive;
    box-shadow: 2px 5px 5px grey;
}

.form-label {
    padding-left: 2vh;
}


.user {
    color: black;
}
.user:hover{
    color:#FFCC66;
    cursor: pointer;
}