.container{
    border-radius: 10px;
    padding: 5vh 1vh 1vh 1vh;
    min-height: 89vh;
    width: 80vw;
    font: italic small-caps bold 16px/2 cursive;
    background-color: beige;
    box-shadow: 2px 5px 5px grey;
}
.head{
    background-color: black;
    border-radius: 10px;
    text-align: center; 
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 5px 5px grey;
}
.noTodo{
    padding-top: 10vh;
    color: grey;
    text-align: center;
    font: italic small-caps bold 16px/2 cursive;
}
button{
    background-color: black;
    cursor: pointer;
    font-size: 4vh;
    border-radius: 30px;
    padding: 2vh 5vw 2vh 5vw;
    align-content: center;
    width: auto;
    color: whitesmoke;
    text-align: center;
    font: italic small-caps bold 16px/2 cursive;    
    transition: 0.1s;
    box-shadow: 5px 4px 4px grey;
}
button:hover{
    background-color: white;
    color: grey;
    border: navajowhite;
    box-shadow: 5px 5px 5px navajowhite;
}