.completed {
    background-color: rgb(61, 234, 75);
    border-radius: 10px;
    padding: 8px 25px 8px 25px;
    align-content: center;
    width: auto;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.todo {
    margin: 1vw;
    /* background-color: #F1FDCD; */
    background-color: #f0f0f0e8;

    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    color: black;
    border: 2px solid black;
    margin: 2vh 5vw 2vh 5vw;
    width: auto;
    transition: 0.2s ease-in-out;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    opacity: 1;
}

.todo>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.todo h4 {
    margin: 0;
    font-weight: 600;
}

.todo h5 {
    margin: 0;
    color: rgb(100, 100, 100);
    font-size: 15px;
    /* overflow-x: hidden; */
}

.completed:hover {
    background-color: rgb(32, 197, 38);
    color: aliceblue;
}