.completed{
    background-color: lightgreen;
    border-radius: 30px;
    padding: 8px 25px 8px 25px;
    align-content: center;
    width:auto;
    color:whitesmoke;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1vw;
}
.todo{
    margin: 1vw;
    background-color: black;
    border-radius: 30px;
    color:beige;
    padding: 1vw 2vw 1vw 2vw;
    margin: 2vh 5vw 2vh 5vw;
    width: auto;
    transition: 1s ease-in-out;
}
.todo:hover{
    background-color: white;
    color: gray;
    border : navajowhite 1px solid;
    box-shadow: 2px 5px 5px navajowhite;
}
.todo:hover .completed{
    background-color: lawngreen;
}