@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(1, 1, 25); */
  background-image: url(./assets/images/bg.jpg);
  color: beige;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: 'Montserrat', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: [first] 17vw [line2] 53vw [line3] 30vw [end];
  grid-template-rows: [row1-start] 50vh [row1-end] 50vh [last-line];
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  /* background-color: black; */
  /* width: auto; */
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row1-start;
  grid-row-end: last-line;
}

.sidebar {
  grid-column-start: line3;
  grid-column-end: end;
  grid-row-start: row1-start;
  grid-row-end: last-line;
  /* background-color: #d9d9d9; */
  height: 100vh;
}

input[type=text],
select {
  width: 100%;
  padding: 2vh 2vh;
  margin: .5vh 0 2vh 0;
  color: grey;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 5px grey;
}

input[type=email],
select {
  width: 100%;
  padding: 2vh 2vh;
  margin: .5vh 0 2vh 0;
  color: grey;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 5px grey;
}

input[type=password],
select {
  width: 100%;
  padding: 2vh 2vh;
  margin: 0.5vh 0 2vh 0;
  color: grey;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 5px grey;
}

input[type=date],
select {
  width: 100%;
  padding: 2vh 2vh;
  margin: .5vh 0 2vh 0;
  color: grey;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 5px grey;
  cursor: text;
}

input[type=submit] {
  /* width: 90; */
  background-color: #4CAF50;
  color: beige;
  padding: 2vh 2vh;
  margin: 1vh 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 1px 5px grey;
  margin: 5%;
  transition: all 0.2s ease-in;
}

input[type=submit]:hover {
  /* background-color: #4CAF50; */
  color: black;
  box-shadow: 2px 2px 5px beige;
}

.create {
  width: 35vw;
  /* height: fit-content; */
  /* box-shadow: 2px 5px 5px grey; */
  padding: 3vh 10vh 2vh 10vh;
  /* min-height: 76vh; */
  /* margin-bottom: 2vh; */
  border-radius: 30px;
  color: black;
  /* background: linear-gradient(to left, #32675c 0%, #689a77 100%); */
  background-color: #f0f0f0d5;
  /* border: 5px solid black; */
  font-family: 'Montserrat', sans-serif;
  /* box-shadow: 1px 1px 1px wheat; */
}

.form-label {
  background-clip: text;
  background-image: url(./assets/images/bg.jpg);
  color: transparent;
}

.create h1 {
  background-clip: text;
  background-image: url(./assets/images/bg.jpg);
  color: transparent;
}

@media (max-width:1280px) {
  .App {
    grid-template-columns: [first] 22vw [line2] 48vw [line3] 30vw [end];
  }

  .main {
    grid-column-end: end;
    grid-row-end: last-line;
  }
}

@media (max-width:1080px) {
  .App {
    grid-template-columns: [first] 26vw [line2] 45vw [line3] 30vw [end];
  }

  .create {
    padding: 2vh;
    width: 90vh
  }
}

@media (max-width:767px) {
  .main {
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: last-line;
  }
}