.about {
    margin: 3vh 1.5vh 3vh 1.5vh;
    /* min-height: 81vh; */
    font-family: 'Montserrat', sans-serif;
    /* box-shadow: 2px 5px 5px grey; */
    border-radius: 10px;
    background-color: rgba(49, 210, 210, 0.088);
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2vh; */
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: last-line;
}

.aboutHead {
    /* border: solid black 5px; */
    color: black;
    border-radius: 20px;
    margin: 2vw;
    padding: 2vw;
    overflow-y: scroll;
    height: 69vh;
    background-color: #f0f0f0d5;
    text-align: justify;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 5px 5px grey; */
}

.aboutHead h2 {
    color: black;
    font-weight: 600;
}

.aboutHead::-webkit-scrollbar {
    display: none;
}